@use '../utils/variables' as v;

/* Details */
details{
    border-bottom: 1px solid $c-fourth;
    summary{
      display: block;
      padding: 18px 0px;
      padding-right: 45px;
      position: relative;
      z-index: 0;
      cursor: pointer;
      &::marker {
        display: none;
        content: "";
      }
      &::after{
        content: url(../assets/images/details_plus.svg);
        position: absolute;
        z-index: -1;
        right: 0px;
        top: 21px;
        transition: transform 0.3s ease-in-out;
      }
    }
    &[open] summary::after {
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;
    }

    @media (min-width: $q-desktop2) {
      font-size: var(--text);
      border-bottom: 2px solid $c-fourth;
      summary{
        padding: 22px 0px;
        padding-right: 127px;
        &::after{
          content: url(../assets/images/details_plus_d.svg);
          right: 29px;
          top: 36px;
          transition: transform 0.3s ease-in-out;
        }
      }
    }
}

/* Besoins compteurs */ 
.problems{
  &__text{
    position: relative;
    &__img{
      position: absolute;
    }
  }
}


  /* Animations */ 

  .esquisse{
    .path{
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: dash 1.4s cubic-bezier(.29,.04,.8,1) forwards;
      animation-delay: 0.5s;
    }
  }
  @keyframes dash {
    from{
      stroke-dashoffset: 1;
    }
    to{
      stroke-dashoffset: 0;
    }
  } 