@use '../utils/variables' as v;

/* Menu anim */
//burger menu
.menu__burger{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  span{
    font-size: 0;
  }
  .burger-open{
    z-index: 54px;
  }
  .burger-close{
    display: none;
    opacity: 0;
    z-index: 54px;
  }
}
body[data-menu]{
  .burger-open{
    opacity: 0;
    display: none;
  }
  .burger-close{
    display: initial;
    opacity: 1;
  }
}

//menu__el
.draw-anim{
  pointer-events: none;
  max-width: none;
  
  position: absolute;
  z-index: 55;
  top: -6px;
  left: -12px;

  display: block;
  width: calc(100% + 24px);
  height: calc(100% + 12px);
  path { 
    --path-lenght: 367;
    stroke-width: 1px;
    stroke-dasharray: var(--path-lenght);
    stroke-dashoffset: var(--path-lenght);
    transition: stroke-dashoffset .5s;
  }
}
.menu{
  &__el{
    a{
      position: relative;
    }
    .menu-text{
      position: relative;
    }
    &--active{
      .draw-anim{
        path{
          stroke-dashoffset: 0;
          transition: stroke-dashoffset none;
        }
      }
    }
    &:hover .draw-anim > * {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset .5s;
    }
  }
}

/* Graph */
.section--context{
  figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    .graph{
      margin: 0 auto;
      margin-top: 54px;
      @media (min-width: $q-laptop){
        margin-top: 88px;
        width: 339px;
        height: 357.08px;
      }
      .annee2{
        .depression2, .anxiete2{
          opacity: 0;
        }
      }
    }
  }
  figcaption{
    margin-top: 1em;
    .year{
      font-family: "Caveat", cursive;
      font-style: normal;
      font-weight: 700;
      font-size: var(--title);
      line-height: 1.3;
      &--1{
        position: relative;
      }
      &--2{
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
      }
    }
  }
  .graph-legend{
    margin-top: 3em;
    display: flex;
    gap: 2em;
  }
  .anxiety, .depression{
    display: flex;
    &__legend{
      margin-right: 11px;
    }
  }
}


/* Details */
.section{
  &--meet ul, &--feature ul{
    margin-top: 36px;
    @media (min-width: $q-laptop){
      margin-top: 22px;
    }
  }
  &--feature{
    details{
      margin-left: 54px;
      @media (min-width: $q-tablet2){
        margin-right: 63px;
      }
      @media (min-width: $q-laptop){
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }
}
details{
    border-bottom: 1px solid $c-fourth;
    max-width: 778px;
    summary{
      display: block;
      padding: 18px 0px;
      padding-right: 45px;
      position: relative;
      z-index: 0;
      cursor: pointer;
      &::marker {
        display: none;
        content: "";
      }
      &::after{
        content: url(../assets/images/details_plus.svg);
        position: absolute;
        z-index: -1;
        right: 0px;
        top: 21px;
        transition: transform 0.3s ease-in-out;
      }
    }
    &[open] summary::after {
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;
    }
    @media (min-width: 1235px){
      summary{
        box-sizing: border-box;
        height: 108px;
      }
    }
    @media (min-width: $q-desktop) {
      font-size: var(--text);
      border-bottom: 2px solid $c-fourth;
      summary{
        padding: 22px 0px;
        padding-right: 127px;
        &::after{
          content: url(../assets/images/details_plus_d.svg);
          right: 29px;
          top: 36px;
          transition: transform 0.3s ease-in-out;
        }
      }
    }
}
@media (min-width: $q-desktop) {
  .section--feature ul{
    li{
      &:nth-child(4) summary, &:nth-child(5) summary{
        padding: 36px 0px;
      }
    }
  }
  
}
.section--feature ul{
  li{
    @media (min-width: 1340px) {
      &:nth-child(3) summary{
        padding: 36px 0px;
      }
    }
  }
}      

/* Needs counters */ 
.container-problems{
    overflow: hidden;
    margin: 36px -24px 0px;
    padding: 0px 24px;
  .problems{
    display: flex;
    width: fit-content;
    margin: 72px 0px 18px;
    .problem{
      margin-right: 9px;
      &:nth-child(even) .problem__text{
        margin-top: 36px;
      }
      &__text{
        width: 30ch;
        position: relative;
        .problem__img{
          position: absolute;
          z-index: -1;
          &--4{
            width: 98px;
            height: 107px;
            top: -22px;
            left: 33%;
          }
          &--5{
            width: 118px;
            height: 129px;
            top: -33px;
            left: 69px;
          }
          &--6{
            width: 138px;
            height: 151px;
            top: -42px;
            left: 56px;
          }
          &--7{
            width: 158px;
            height: 173px;
            top: -54px;
            left: 63px;
          }
        }
      }
      &__count{
        margin-top: 1rem;
      }
    }
  }
  @media (min-width: $q-tablet1){
    margin: 36px -36px 0px;
    padding: 0px 36px;
  }
  @media (min-width: $q-tablet2){
    margin: 36px -66px 0px;
    padding: 0px 66px;
  }
  @media (min-width: $q-tablet4){
    margin: 36px -77px 0px;
    padding: 0px 77px;
  }
  @media (min-width: $q-laptop){
    margin: 0;
    padding: 0;
    overflow: initial;
    .problems{
      width: 100%;
      display: grid;
      margin: 112px 0px 0px;
      .problem{
        margin: 0 auto;
        &__count{
          opacity: 0;
        }
        &:hover{
          .problem__img{
            path{
              fill: $c-sixth;
              transition-delay: .1s;
            }
          }
          .problem__count{
            opacity: 1;
            transition-delay: .1s;
          }
        }
        &--1{
          margin-top: 0px;
        }
        &--2{
          margin-top: 76px;
        }
        &--3{
          margin-top: 0px;
        }
        &--4{
          margin-top: 188px;
        }
        &--5{
          margin-top: 112px;
        }
        &--6{
          margin-top: 144px;
        }
        &--7{
          margin-top: 146px;
        }
        &--8{
          margin-top: 48px;
        }
        &--9{
          margin-top: 90px;
        }

        &__text{
          &:nth-child(even){
            margin-top: 0px;
          }
          .problem__img{
            &--4{
              width: 98px;
              height: 107px;
              top: -22px;
              left: 33%;
            }
            &--5{
              width: 118px;
              height: 129px;
              top: -33px;
              left: 69px;
            }
            &--6{
              width: 138px;
              height: 151px;
              top: -42px;
              left: 56px;
            }
            &--7{
              width: 158px;
              height: 173px;
              top: -54px;
              left: 63px;
            }
          }
        }
      }

    }
  }
}

/* Needs links */

.problems-links{
    overflow: hidden;
    margin: 3em -24px 4em;
    padding: 0px 24px;
    &__el{
      width: 1000px;
    }
    @media (min-width: $q-tablet1){
      margin: 3em -36px 4em;
      padding: 0px 36px;
    }
    @media (min-width: $q-tablet2){
      margin: 3em -66px 4em;
      padding: 0px 66px;
    }
    @media (min-width: $q-tablet4){
      margin: 3em -77px 4em;
      padding: 0px 77px;
    }
    @media (min-width: $q-laptop){
      margin: 56px 0px 11px;
      padding: 0;
      overflow: initial;
      &__el{
        width: 100%;
      }
    }
}





  /* Animations */ 

  .esquisse{
    .path{
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: dash 1.4s cubic-bezier(.29,.04,.8,1) forwards;
      animation-delay: 0.5s;
    }
  }
  @keyframes dash {
    from{
      stroke-dashoffset: 1;
    }
    to{
      stroke-dashoffset: 0;
    }
  } 