@use '../utils/variables' as v;

/* Details */
details{
    border-bottom: 1px solid $c-fourth;
    summary{
      display: block;
      padding: 18px 0px;
      padding-right: 45px;
      position: relative;
      z-index: 0;
      cursor: pointer;
      &::marker {
        display: none;
        content: "";
      }
      &::after{
        content: url(../assets/images/details_plus.svg);
        position: absolute;
        z-index: -1;
        right: 0px;
        top: 21px;
        transition: transform 0.3s ease-in-out;
      }
    }
    &[open] summary::after {
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;
    }

    @media (min-width: $q-desktop2) {
      font-size: var(--text);
      border-bottom: 2px solid $c-fourth;
      summary{
        padding: 22px 0px;
        padding-right: 127px;
        &::after{
          content: url(../assets/images/details_plus_d.svg);
          right: 29px;
          top: 36px;
          transition: transform 0.3s ease-in-out;
        }
      }
    }
}

/* Besoins compteurs */ 
.container-problems{
    overflow: hidden;
    margin: 0px -24px;
    padding: 0px 24px;
  .problems{
    display: flex;
    width: fit-content;
    margin: 72px 0px 54px;
    .problem{
      margin-right: 9px;
      &:nth-child(even){
        margin-top: 36px;
      }
      &__text{
        width: 30ch;
        position: relative;
        .problem__img{
          position: absolute;
          z-index: -1;
          &--4{
            width: 98px;
            height: 107px;
            top: -22px;
            left: 33%;
          }
          &--5{
            width: 118px;
            height: 129px;
            top: -33px;
            left: 69px;
          }
          &--6{
            width: 138px;
            height: 151px;
            top: -42px;
            left: 56px;
          }
          &--7{
            width: 158px;
            height: 173px;
            top: -54px;
            left: 63px;
          }
        }
      }
      &__count{
        margin-top: 1rem;
      }
    }
  }
  @media (min-width: $q-tablet1){
    margin: 0px -36px;
    padding: 0px 36px;
  }
  @media (min-width: $q-tablet2){
    margin: 0px -66px;
    padding: 0px 66px;
  }
  @media (min-width: $q-laptop){
    margin: 0;
    padding: 0;
    overflow: initial;
    .problems{
      width: 100%;
      display: grid;
      margin: 132px 0px 46px;
      .problem{
        margin: 0 auto;
        &__count{
          opacity: 0;
        }
        &:hover{
          .problem__img{
            path{
              fill: $c-sixth;
              transition-delay: .1s;
            }
          }
          .problem__count{
            opacity: 1;
            transition-delay: .1s;
          }
        }
        &--1{
          margin-top: 0px;
        }
        &--2{
          margin-top: 76px;
        }
        &--3{
          margin-top: 0px;
        }
        &--4{
          margin-top: 188px;
        }
        &--5{
          margin-top: 112px;
        }
        &--6{
          margin-top: 144px;
        }
        &--7{
          margin-top: 146px;
        }
        &--8{
          margin-top: 48px;
        }
        &--9{
          margin-top: 90px;
        }

        &__text{
          .problem__img{
            &--4{
              width: 98px;
              height: 107px;
              top: -22px;
              left: 33%;
            }
            &--5{
              width: 118px;
              height: 129px;
              top: -33px;
              left: 69px;
            }
            &--6{
              width: 138px;
              height: 151px;
              top: -42px;
              left: 56px;
            }
            &--7{
              width: 158px;
              height: 173px;
              top: -54px;
              left: 63px;
            }
          }
        }
      }

    }
  }
}


  /* Animations */ 

  .esquisse{
    .path{
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: dash 1.4s cubic-bezier(.29,.04,.8,1) forwards;
      animation-delay: 0.5s;
    }
  }
  @keyframes dash {
    from{
      stroke-dashoffset: 1;
    }
    to{
      stroke-dashoffset: 0;
    }
  } 