@use '../utils/variables' as v;

/* Wrapper */ 
.wrapper{
    overflow-x: hidden;
    width: 100%;
    /* -webkit-overflow-scrolling: touch; à voir ? */
    margin: 0px -88px;
    padding: 0px 88px;
    .cards{
        display: flex;
        width: fit-content;
        margin: 44px 0px 110px;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        &.dragging{
            cursor: grab;
        }
        
        &__el{
            border: 2px solid $c-third;
            border-radius: 30px;
            width: 12em;
            height: fit-content;
            min-height: 2em;
            padding: 1em 1em;
            margin-right: 44px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}