@use '../utils/variables' as v;


/* Draggrable silder */ 
.wrapper{
    width: 100%;
    margin: 0px -24px;
    padding: 0px 24px;
    overflow: hidden;
    .cards{
        display: flex;
        width: fit-content;
        margin: 27px 0px 54px;
        cursor: pointer;
        &.dragging{
            cursor: grab;
        }
        
        &__el{
            border: 1px solid $c-third;
            border-radius: 26px;
            width: 10em;
            height: fit-content;
            padding: 24px 24px;
            margin-right: 24px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
    @media (min-width: $q-tablet1){
        margin: 0px -36px;
        padding: 0px 36px;
    }
    @media (min-width: $q-tablet2){
        margin: 0px -66px;
        padding: 0px 66px;
    }
    @media (min-width: $q-tablet4){
        margin: 0px -77px;
        padding: 0px 77px;
    }
    @media (min-width: $q-laptop){
        .cards{           
            margin: 44px 0px 110px;
        }
    }
    @media (min-width: $q-desktop){
        .cards{           
            &__el{
                border: 2px solid $c-third;
                border-radius: 30px;
                width: 334px;
                padding: 33px 44px;
                margin-right: 33px;
            }
        }
    }
    @media (min-width: $q-desktop2){
        margin: 0px -88px;
        padding: 0px 88px;
    }
}
.wrapper-2{
    width: 100%;
    margin: 0px -24px;
    padding: 0px 24px;
    overflow: hidden;
    &__container{
        display: flex;
        width: fit-content;
        margin: 27px 0px 0px;
        cursor: pointer;
        &.dragging{
            cursor: grab;
        }
        .citation{
            border: 1px solid $c-third;
            border-radius: 26px;
            width: 14em;
            height: fit-content;
            padding: 24px 24px;
            margin-right: 24px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
    @media (min-width: $q-tablet1){
        margin: 0px -36px;
        padding: 0px 36px;
    }
    @media (min-width: $q-tablet2){
        margin: 0px -66px;
        padding: 0px 66px;
    }
    @media (min-width: $q-tablet4){
        margin: 0px -77px;
        padding: 0px 77px;
    }
    @media (min-width: $q-desktop){
        &__container{
            margin: 66px 0px 0px;
            .citation{
                border: 2px solid $c-third;
                border-radius: 30px;
                width: 400px;
                padding: 33px 44px;
                margin-right: 33px;
            }
        }
    }
    @media (min-width: $q-desktop2){
        margin: 0px -88px;
        padding: 0px 88px;
    }
}