@use '../utils/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-size: var(--text);
  font-weight: 300;
  line-height: 1.55;
  font-style: normal;
  color: $c-text;
  background-color: $c-bg;
  a{
    text-decoration: none;
    cursor: pointer;
    color: $c-text;
  }
}

.title{
  font-size: var(--title);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 35px;
  &--big{
    font-size: var(--bigtitle);
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 54px;
  }
  &--home{
    font-size: var(--vbigtitle);
    line-height: 1.15;
    margin: 72px 0 234px;
  }
  &--little{
    font-size: var(--subtitle);
    line-height: 1.3;
    margin-bottom: 27px;
  }
  span{
    font-weight: 300;
  }
}

.section--solution .title--little:last-of-type{
    font-weight: 300;
}

.txt{
  max-width: 69ch;
  margin-bottom: 1em;
  &--bold{
    font-weight: 500;
  }
  &--big{
    font-size: var(--textbig);
    font-weight: 400;
    line-height: 1.45;
  }
}
.citation{
  &__content{
    font-family: 'Caveat', cursive;
    font-size: var(--textbig);
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
  }
  &__legend{
    text-align: end;
  }
  &__author{
    font-size: var(--legend);
    font-style: normal;
  }
}
details p{
  font-size: 14px;
}

.menu{
  &__logo{
    font-family: 'Caveat', cursive; 
    font-style: normal;
    font-weight: 500;
  }
  &__el{
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }
}

@media (min-width: $q-desktop){
  body{
    line-height: 1.6;
  }
  .title{
    &--home{
      line-height: 1;
    }
  }
  .menu{
    &__el{
      font-size: var(--legend);
    }
  }
} 

/* font-family: 'Caveat', cursive; */
