@use '../utils/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-size: var(--text);
  font-weight: 300;
  line-height: 1.55;
  font-style: normal;
  color: $c-text;
  background-color: $c-bg;
  a{
    text-decoration: none;
    cursor: pointer;
    color: $c-text;
  }
}

@media (max-width: 363px){
  .title{
    font-size: 43px;
    &--big{
      font-size: 50px;
    }
  }
}
@media (max-width: $q-mobile1){
  .title{
    &--big{
      .hide-mobile1{
        display: none;
      }
    }
  }
}

/* Titles */
.title{
  font-size: var(--title);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 35px;
  margin-left: -3px;
  @media (max-width: 366px){
    font-size: 43px;
  }
  &--big{
    @media (max-width: 363px){
      font-size: 50px;
    }
    @media (max-width: $q-mobile1){
      .hide-mobile1{
        display: none;
      }
    }
    font-size: var(--bigtitle);
    font-weight: 500;
    line-height: 1.1;
    margin-top: 135px;
    margin-bottom: 54px;
    margin-left: -2px;
  }
  &--little{
    font-size: var(--subtitle);
    line-height: 1.3;
    margin-top: 108px;
    margin-bottom: 27px;
    margin-left: -1px;
  }
  span{
    font-weight: 300;
  }
  &--home{
    font-size: var(--vbigtitle);
    font-weight: 300;
    line-height: 1.15;
    text-transform: capitalize;
    margin: 72px 0 234px;
    margin-left: -4px;
    span{
      font-weight: 600;
      margin-left: 31px;
      grid-row: 2;
      @media (min-width: $q-mobile1){
        margin-left: 74px;
      }
    }
  }
}

.section--solution div:last-of-type .title--little:last-of-type{
    font-weight: 300;
}

/* Texts */
.txt{
  max-width: 69ch;
  margin-bottom: 1em;
  &--bold{
    font-weight: 500;
  }
  &--big{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.45;
    text-align: center;
    margin: 0 auto;
    padding: 0 24px;
    margin-top: 90px;
    margin-bottom: 108px;
    max-width: 49ch;
  }
  &--little{
    font-size: var(--textlittle);
    margin-top: 0.5em;
    margin-bottom: 0em;
  }
  &--short{
    max-width: 48ch;
  }
  &--end{
    margin-top: 26px;
  }
}

/* Citations */
.citation{
  &__content{
    font-family: 'Caveat', cursive;
    font-size: var(--textbig);
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    @media (min-width: $q-desktop){
      text-indent: -16px;
    }
  }
  &__legend{
    text-align: end;
  }
  &__author{
    font-size: var(--legend);
    font-style: normal;
  }
}
.section--solution, .section--meet{
  .citation{
    @media (min-width: $q-tablet2){
      text-indent: -16px;
    }
    @media (min-width: $q-desktop){
      text-indent: -20px;
    }
}
}

/* Dt besoins fondamentaux */ 
.container-fondamental{
  .dt{
    font-size: var(--textbig);
    font-family: 'Caveat', cursive;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 0.5em;
  }
}


/* ul context covid et wrapper */
.section{
  &--context ul, .wrapper ul{
    font-family: "Caveat", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: var(--textbig);
    line-height: 1.3;
  }
  .wrapper ul, .wrapper-2 .citation__content{
    font-size: 25px;
  }
  &--context ul{
    color: $c-secondary;
    font-weight: 500;
    margin: 126px -24px 0px;
    padding: 0px 24px;
    li{
      margin-bottom: 54px;
      &:nth-child(2), &:nth-child(3){
        width: 50%;
        @media (min-width: 589px){
          width: 40%;
        }
      }
    }
  }
}

/* Details */
details{
  font-size:  var(--textlittle);
  font-weight: 500;
  z-index: -1;
  p{
    font-weight: 300;
    padding-bottom: 1em;
  }
}

/* Need problems count */ 
.problem{
    font-family: "Caveat", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: var(--text);
    line-height: 1.45;
    text-align: center;
    max-width: 30ch;
    &__text{
      max-width: 30ch;
      pointer-events: none;
    }
    &__count{
      font-size: var(--textbig);
      font-weight: 700;
      pointer-events: none;
    }
}

/*Menu*/
.menu{
  &__logo{
    font-family: 'Caveat', cursive; 
    font-style: normal;
    font-weight: 500;
  }
  &__el{
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    -webkit-transition: 0.2s;
    &--active{
      border-bottom: 1px solid #000000;
    }
    @media (min-width: $q-desktop){
      font-size: 15px;
    }
  }
}

/*Footer*/
.footer{
  font-size: 17px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 27px 18px;
  .linkList{
    display: flex;
    margin-bottom: 18px;
    &__el{
      margin: 0 9px;
    }
  }
}

/* Responsive */
@media (min-width: $q-tablet1){
  .section{
    &--context ul{
      margin: 126px -36px 0px;
      padding: 0px 36px;
    }
  }
  .title--home{
    font-size: 86px;
    margin-left: -7px;
  }
}

@media(min-width:$q-tablet2){
  .title--home{
    font-size: 107px;
    margin-bottom: 270px;
  }
  .section{
    &--context ul{
      margin: 126px -66px 0px;
      padding: 0px 66px;
    }
  }
}
@media (min-width: $q-tablet3){
  .title--home{
    font-size: 124px;
    margin-left: -8px;
  }    
}
@media (min-width: $q-laptop){
  .col-2{
    margin-left: 33px;
  }
  .section{
    &--context ul{
      margin: 126px 0px 0px;
      padding: 0px;
      li{
        margin-bottom: 54px;
        &:nth-child(2), &:nth-child(3){
          width: 100%;
        }
        &:nth-child(1){
          grid-row: 1;
          margin-bottom: 88px;
        }
        &:nth-child(2){
          grid-row: 3;
          margin-bottom: 44px;
        }
        &:nth-child(3){
          grid-row: 2;
          margin-bottom: 176px;
        }
        &:nth-child(4){
          grid-row: 4;
        }
      }
    }
  }
}

@media (min-width: $q-desktop){

  body{
    line-height: 1.6;
  }

  .title{
    margin-bottom: 66px;
    margin-left: -4px;
    &--home{
      font-size: 150px;
      line-height: 1;
      margin: 88px -10px 198px 0px;
      span{
        margin-left: 0;
      }
    }
    &--big{
      margin-bottom: 88px;
      text-indent: -4px;
    }
    &--little{
      margin-top: 154px;
      margin-bottom: 33px;
      margin-left: -2px;
    }
  }

  .txt{
    margin-left: -1px;
    &--big{
      font-size: var(--textbig);
      margin: 0 auto;
    }
    &--end{
      margin-top: 88px;
    }
  }
  .col-2{
    margin-left: 66px;
  }
  .section{
    &--context ul{
      font-size: 36px;
      margin: 154px 0px 0px;
      padding: 0px;
      li{
        margin-bottom: 54px;
        &:nth-child(2), &:nth-child(3){
          width: 100%;
        }
        &:nth-child(1){
          grid-row: 1;
          margin-bottom: 88px;
        }
        &:nth-child(2){
          grid-row: 3;
          margin-bottom: 44px;
        }
        &:nth-child(3){
          grid-row: 2;
          margin-bottom: 176px;
          grid-column-start: 7;
        }
        &:nth-child(4){
          grid-row: 4;
          margin-bottom: 154px;
        }
      }
    }
    .wrapper ul, .wrapper-2 .citation__content{
      font-size: var(--textbig);
    }
  }

  details{
    font-size: var(--text);
    p{
      font-size: var(--textlittle);
      }
  }
  .footer{
    font-size: 16px;
    flex-direction: row;
    justify-content: space-between;
    padding: 44px 88px;
    .linkList{
      margin-bottom: 0;
      order: 2;
    }
  }
} 

@media (min-width: $q-desktop2){
  .menu{
    &__el{
      font-size: var(--legend);
    }
  }

  .title{
    &--home{
      font-size: var(--vbigtitle);
      margin-left: -11px;
    }
  }
  .section{
    &--context ul{
      font-size: 44px;
    }
  }
}

