@import 'utils/variables';
@import 'components/type';
@import 'components/grid';
@import 'components/js-el';
@import 'components/interactions-animations';

*{
    margin: 0;
    padding: 0;
}
html {
	scroll-behavior: smooth;
}
ul{
    padding: 0;
    list-style: none;
}
li{
    list-style-type: none;
}


/* NAV */

.logo{
    width: 28px;
}
.menu{
    display: flex;
    padding: 21px 18px;
    justify-content: space-between;
    background-color: rgba(253, 252, 252, 0.85);
    backdrop-filter: blur(1px);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 40;
    @media (min-width: $q-desktop){
        padding: 26.5px 44px;
    }
    
    &__logo a{
        display: flex;
        align-items: center;
        gap: 6px;
    }
    &__burger{
        z-index: 51;
        @media (min-width: $q-desktop){
            display: none;
        }
    }
    &__list{
        position: fixed;
        background-color: $c-bg;
        line-height: normal;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 50;
        transition: transform 0.4s ease-out;
        @media (min-width: $q-desktop){
            position: relative;
            background: none;
            width: auto;
            height: auto;
            left: 0;
            flex-direction: initial;
            gap: 33px;
        }
        @media (min-width: $q-desktop2){
            gap: 44px;
        }
    }
    /* &__el{
        opacity: 0;
    } */
}

body[data-menu] .menu__list {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    @media (min-width: $q-desktop){
        transform: none;
    }
}
/* body[data-menu] .menu__el{
     transform:translateX(0);
    opacity: 1;
} */

.main{
    margin: 0 24px;
    max-width: 1920px;
    @media (min-width: $q-tablet1){
        margin: 0 36px;
    }
    @media (min-width: $q-tablet2){
        margin: 0 66px;
    }
    @media (min-width: $q-tablet4){
        margin: 0 77px;
    }
    @media (min-width: $q-desktop){
        margin: 0 66px;
    }
    @media (min-width: $q-desktop2){
        margin: 0 88px;
    }
    @media (min-width: 1600px){
        margin: 0 110px;
    }
    @media (min-width: 1980px){
        margin: 0 auto;
    }
}

/* margin section + col 2 margin + margin citation */
.section{
    padding-top: 99px;

    &--context{
    padding-top: 72px;
    }
    &--meet{
        .citation{
            margin-top: 45px;
        }
    }
    &--solution{
        div:last-of-type{
            ul{
                padding-left: 20px;
                li{
                    list-style-type: none;
                    position: relative;
                    z-index: -1;
                    &::before{
                        position: absolute;
                        content: "—";
                        text-indent: -18px;                      
                    }
                }
            }
        }
    }
    @media (min-width: $q-tablet2){
        &--solution{
            div:last-of-type{
                ul{
                    padding-left: 0px;
                }
            }
        }
    }
    @media(min-width: $q-desktop){
        padding-top: 198px;
        &--context{
            padding-top: 88.19px;
            }
        &--meet, &--solution{
            div:last-of-type{
                margin-top: 187px;
            }
        }
        &--meet{
            div:last-of-type{
                margin-top: 387px;
            }
            .citation{
                margin: 44px 0px 0px;
            }
        }
        &--solution{
            div:last-of-type{
                ul{
                    li{
                        &::before{
                            text-indent: -25px;
                        }
                    }
                }
            }
        }
        &--conclusion{
            .citation{
                margin: 106px 0px 0px;
            }
        }
    }
}


/* IMG, SVG */

.section--context{
    .title--home{
        span{
            width: fit-content;
            position: relative;
            z-index: -1;
        }
    }
    .esquisse{
        position: absolute;
                bottom: -99px;
                right: 7px;
                width: 260.82px;
                height: 106.21px;
                @media (min-width: $q-tablet1){
                    bottom: -123px;
                    right: 13px;
                    width: 316.21px;
                    height: 128.21px;
                }
                @media (min-width: $q-tablet2){
                    bottom: -155px;
                    right: 14px;
                    width: 399.37px;
                    height: 161.93px;
                }
                @media (min-width: $q-desktop){
                    bottom: -182px;
                    right: 88px;
                    width: 414.37px;
                    height: 169.93px;
                }
                @media (min-width: $q-desktop2){
                    bottom: -244px;
                    right: 84px;
                    width: 538.94px;
                    height: 218.52px;
                }
    }

    ul{
        background-image: url(../assets/images/logo.svg);
        background-repeat: no-repeat;
        background-size: 258px;
        background-position: right -85px top 46px;
        @media (min-width: $q-tablet1){
            background-size: 303px;
            background-position: right -85px top 27px;
        }
        @media (min-width: $q-tablet2){
            background-size: 362px;
            background-position: right 1px top -6px;
        }
        @media (min-width: 780px){
            background-size: 303px;
            background-position: right 66px top 6px;
        }
        @media (min-width: $q-tablet4){
            background-size: 303px;
            background-position: right 66px top 6px;
        }
        @media (min-width: $q-desktop){
            background-size: 470px;
            background-position: center;
        }
    }
}

.phone{
    width: 81.5%;
    max-width: 316.58px;
    display: flex;
    margin: 45px auto;
}




/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: $c-fourth;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    border: 0.5px solid $c-third;
}