    /* COLORS */
    $c-bg: #FDFCFC;
    /* $c-alt: #e41612; */
    $c-text: #0D0D0D;
    $c-primary: #0D0D0D;
    $c-secondary: #404040;
    $c-third: #8C8C8C;
    $c-fourth: #BFBFBF;
    $c-fifth: #F2F2F2;
    $c-sixth: #E5E2F7;
    /* MEDIA QUERIES */
    $q-mobile1: 412px;
    $q-tablet1: 540px;
    $q-tablet2: 650px;
    $q-tablet3: 730px;
    $q-tablet4: 800px;
    $q-laptop: 1024px;
    $q-desktop: 1200px;
    $q-desktop2: 1450px;


    /* TEXTS */
:root{
    --legend: 12px;
    --textlittle: 17px;
    --text: 18px;
    --textbig: 28px;
    --subtitle: 35px;
    --title: 44px;
    --bigtitle: 55px;
    --vbigtitle: 69px;
}

@media (min-width: $q-desktop){
    :root{
        --legend: 16px;
        --textlittle: 19px;
        --text: 20px;
        --textbig: 31px;
        --subtitle: 44px;
        --title: 62px;
        --bigtitle: 88px;
        --vbigtitle: 175px;
    }
}
@media (min-width: $q-desktop2){
    :root{
        --legend: 16px;
        --textlittle: 21px;
        --text: 22px;
        --textbig: 31px;
        --subtitle: 44px;
        --title: 62px;
        --bigtitle: 88px;
        --vbigtitle: 175px;
    }
}


